{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "LATEST"}}
 :aliases
 {:test {:extra-paths ["test/clj"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-343"}
                      lambdaisland/kaocha-cloverage {:mvn/version "LATEST"}}}}}
